.zustand-container {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:#E5E7EB;
}

.zustand-title {
  color: rgb(52, 54, 137);
  font-size: 2rem; 
  text-align: center; 
  margin-bottom: 20px; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.count-text {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.button-container {
  margin-top: 10px;
}

.increment-button,
.decrement-button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
  border-radius: 8px;
}

.increment-button {
  background-color: #4caf50; 
  color: #fff; 
  border: none;
}

.increment-button:hover {
  background-color: #45a049; 
}

.decrement-button {
  background-color: #f44336; 
  color: #fff; 
  border: none;
}

.decrement-button:hover {
  background-color: #d32f2f; 
}


.reset-button {
  background-color: #afafaf;
  border: 1px groove rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1em;
  margin-left: 75%;
  padding: 5px 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.reset-button:hover {
  background-color: #9c9a9a;
}

.reset-button:active {
  border: 1px groove rgb(0, 0, 0);
  background-color: #8a8a8a;
  transform: scale(0.98);
}

