/* ZustandComponent.css */

.zustand-container {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:#E5E7EB;
}

.zustand-title {
  color: rgb(52, 54, 137);
  font-size: 2rem; 
  text-align: center; 
  margin-bottom: 20px; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

/* Estilos para el texto de conteo */
.count-text {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Estilos para el contenedor de botones */
.button-container {
  margin-top: 10px;
}

/* Estilos para los botones de incremento y decremento */
.increment-button,
.decrement-button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
  border-radius: 8px;
}

.increment-button {
  background-color: #4caf50; /* Color de fondo para el botón de incremento */
  color: #fff; /* Color de texto para el botón de incremento */
  border: none;
}

.increment-button:hover {
  background-color: #45a049; /* Cambio de color al pasar el cursor sobre el botón de incremento */
}

.decrement-button {
  background-color: #f44336; /* Color de fondo para el botón de decremento */
  color: #fff; /* Color de texto para el botón de decremento */
  border: none;
}

.decrement-button:hover {
  background-color: #d32f2f; /* Cambio de color al pasar el cursor sobre el botón de decremento */
}


/* Añadir una transición suave */
/* Estilos para el botón de reset */
.reset-button {
  background-color: #afafaf;
  border: 1px groove black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 12px;
  margin-left: 75%;
  padding: 5px 10px;
  border-radius: 8px;
  transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

/* Efecto hover */
.reset-button:hover {
  background-color: #9c9a9a;
}

.reset-button:active {
  background-color: #515151;
  transform: scale(0.98);
}

